.galeria__container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor_fundo_header);
    padding: 1rem;
}

.galeria__miniatura {
    border: none;
    width: 18%;
    height: 46%;
    margin: 1%;
}

.galeria__miniatura img {
    width: 100%;
    height: 100%;
}